<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Stanby - インタビュー
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

  <div class="inner">
    <div class="breadCrumb"><ol><li><a href="/">求人掲載</a></li><li>{{blog.name}}</li></ol></div>
  </div>

  <div class="catContainer">
    <div class="catContent">
      <h1>{{blog.name}}</h1>
      <p>{{blog.description}}</p>


      {% module "interview-listing" path="/jinji-stanby/modules/interview-listing.module"
      %}
      {% module "pagination" path="/jinji-stanby/modules/pagination.module"
      %}

    </div>
      {% module "sidebar" path="/jinji-stanby/modules/sidebar.module"
        %}
  </div>
  <div class="inner">
    {% module "stanby-cv" path="/jinji-stanby/modules/stanby-cv", label="stanby-cv", no_wrapper=True %}
  </div>

{% endblock body %}
