<!--
  templateType: global_partial
  label: Website footer
-->
  <footer>
        <div class="footerInner">
            <div class="footerContent">
                <div class="footerLogo">
                    <img src="{{ get_asset_url('/jinji-stanby/images/stanbyLogo.svg') }}" alt="求人掲載スタンバイのご利用のイメージ">
                </div>
                <div class="footerText">
                    <p>求人広告の掲載はスタンバイで｜アルバイト・パートから中途まで採用について無料で相談承ります。<br><br>採用・人事担当者様のお悩みを解決するお役立ち情報も満載</p>
                </div>
            </div>
            <div class="footerContent">
                <div class="footerNav">
                    <ul>
                        <li><a href="https://jinji.stanby.co.jp/saiyou-knowhow/">採用ノウハウ</a></li>
                        <li><a href="https://jinji.stanby.co.jp/jinji-knowhow/">人事ノウハウ</a></li>
                        <li><a href="https://jinji.stanby.co.jp/interview/">お客様の声 / 成功事例</a></li>
                    </ul>
                </div>
                <div class="footerBtnList">
                    <button class="footerWpBtn"><a href="https://jinji.stanby.co.jp/downloads/">お役立ち資料ダウンロード</a></button>
                      <button class="footerContactBtn"><a href="https://jinji.stanby.co.jp/contact/">お問い合わせ</a></button>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <ul>
                <li><a href="https://jp.stanby.com/about/terms">利用規約</a></li>
                <li><a href="https://jp.stanby.com/about/privacy">プライバシーポリシー</a></li>
                <li><a href="https://stanby.co.jp/">運営会社</a></li>
                <li><a href="https://jp.stanby.com/">サービスサイト</a></li>
            </ul>
        </div>
    </footer>