<!--
  templateType: global_partial
  label: Website header
-->
    <header>
        <div class="headerInner">
            <div class="headerLogo">
              <a href="/">
                <img src="{{ get_asset_url('/jinji-stanby/images/stanbyLogo.svg') }}" alt="求人掲載はスタンバイへ">
              </a>
            </div>
            <nav>
                <div class="navList">
                    <ul>
                        <li><a href="https://jinji.stanby.co.jp/saiyou-knowhow/">採用ノウハウ</a></li>
                        <li><a href="https://jinji.stanby.co.jp/jinji-knowhow/">人事ノウハウ</a></li>
                        <li><a href="https://jinji.stanby.co.jp/interview/">お客様の声 / 成功事例</a></li>
                    </ul>
                </div>
                <div class="headerBtnList">
                  <button class="headerWpBtn"><a href="https://jinji.stanby.co.jp/downloads/">お役立ち資料ダウンロード</a></button>
                  <button class="headerContactBtn"><a href="https://jinji.stanby.co.jp/contact/">お問い合わせ</a></button>
                </div>
            </nav>
            <div class="headerTabletButton">
                <div class="headerTabletBtnList">
                  <button class="headerWpBtn"><a href="https://jinji.stanby.co.jp/downloads/">お役立ち資料ダウンロード</a></button>
                  <button class="headerContactBtn"><a href="https://jinji.stanby.co.jp/contact/">お問い合わせ</a></button>
                </div>
                <div id="navToggle">
                    <div>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
