{% set all_posts_rec = [] %}

{# Loop through all posts selected in the blog field #}
{% for item in module.blogs_to_display.blogs %}
  
  {# Get posts for each blog #}
  {% set posts_rec = blog_popular_posts(item, 3) %}

  {# Append each post to the all_posts array #}
  {% for post_rec in posts_rec %}
    {% do all_posts_rec.append( post_rec ) %}
  {% endfor %}

{% endfor %}

  <div class="blogSLider swiperPopular">
    <div class="mediaList swiper-wrapper">
      
      {% for post_rec in all_posts_rec[:6]|sort(true, false, 'published_at') %}
      <div class="mediaItem swiper-slide">
        <a href="{{ post_rec.absolute_url }}">

          <div class="mediaItemImg">
            <img
              src="{{ post_rec.featured_image }}"
              loading="lazy"
              alt="{{ post_rec.featured_image_alt_text }}"
            >
          </div>
          <div class="mediaItemContent">
            <div class="mediaItemTitle">{{ post_rec.name }}</div>
            <div class="mediaItemInfo">
              <div class="mediaItemCat">
                {% if post_rec.content_group == '71595602751' %}
                採用ノウハウ
                {% elif post_rec.content_group == '71595208335' %}
                人事ノウハウ
                {% endif %}
              </div>
               <time>{{post_rec.publish_date|datetimeformat('yyyy/MM/dd')}}</time>
            </div>
          </div>
          
        </a>
      </div>
      {% endfor %}

     </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
